!!! 5
html.no-js
  head
    meta(name="env",value=env)
    link(rel="icon",type="image/x-icon",href="/favicon.ico")
    link(rel="stylesheet",type="text/css",href="/stylesheets/normalize.css")
    link(rel="stylesheet",type="text/css",href="/stylesheets/style.css")
    script(type="text/javascript", src="/scripts/vendor/modernizr.js")
  body
    #header-wrapper
      header#header
        h1 Taboo
        nav: ul
          li: a(href="/") Home
          li: a(href="/rules",target="_blank",onclick="javascript:void(rulePopup)") Rules
      #header-bottom
    #content!=body
    footer #{new Date().getFullYear()} Richard Hoffman
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/scripts/vendor/jquery.js")
    script(type="text/javascript", src="/scripts/script.js")
