#page--rules
  ul#rule-list
    li Must have at least two users joined to play.
    li One person will be chosen at random to be the "Giver"
    li The Giver will be presented a card with a guessword and a list of taboo words.
    li In order to score, the Giver must get another player to say the guessword without saying any of the words on the card.
    li If a player does guess the guessword, that player and the Giver both gain one point
    li If the Giver says one of the words on the card, he loses one point and the current card is discarded.
    li The giver may skip at any time to pick a new word.
    li Each round lasts one minute, after which a new Giver is chosen.
    li Game never ends, player with the highest score is the current champion. All users are listed in order of current score
    li If you leave the game, you abandon your score.
  h3 Helpful hints
  ul#hints
    li The giver's clues will always be in purple so you can identify them
    li The up and down arrows let you cycle through your message history, to quickly edit a previous message
    li You can send the message "/skip" to skip the current card if you are the giver, so your hands don't have to leave the keyboard
